[DEFAULT]
# Celery Broker
broker_url=redis://127.0.0.1:6379/0
# Your timezone
timezone=Asia/Shanghai

# Your CustomApp Name
[VULTR]
# run every seconds
seconds=20
# Custom parameter
push_url=http://127.0.0.1:7000/api/v3/customapp
token=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
id=3
icon=1177
subid=12345678
# Custom function
custom=True

[COUNTDOWN]
# Crontab schedule, Executes every morning at 00:01 a.m.
crontab=True
hour=0
minute=1
push_url=http://127.0.0.1:7000/api/v3/customapp
id=2
date=2099/10/1
icon=1209

[BILIBILI]
seconds=10
push_url=http://127.0.0.1:7000/api/v3/customapp
id=4
icon=9
uid=85533654

#[Something]
#...